<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineway.springbootdemo.dao.cnzb2018.mapper.GthbMapper">
  <resultMap id="BaseResultMap" type="com.fineway.springbootdemo.dao.cnzb2018.pojo.Gthb">
    <id column="GTHBID" jdbcType="VARCHAR" property="gthbid" />
    <result column="CIVILREGIONALISMID" jdbcType="VARCHAR" property="civilregionalismid" />
    <result column="REPORTTIME" jdbcType="VARCHAR" property="reporttime" />
    <result column="LTYWCTCZB" jdbcType="VARCHAR" property="ltywctczb" />
    <result column="LTYWCYJCN" jdbcType="DECIMAL" property="ltywcyjcn" />
    <result column="LTSJTCSJ" jdbcType="VARCHAR" property="ltsjtcsj" />
    <result column="LTSFTC" jdbcType="VARCHAR" property="ltsftc" />
    <result column="LGYWCTCZB" jdbcType="VARCHAR" property="lgywctczb" />
    <result column="LGYWCYJCN" jdbcType="DECIMAL" property="lgywcyjcn" />
    <result column="LGSJTCSJ" jdbcType="VARCHAR" property="lgsjtcsj" />
    <result column="LGSFTC" jdbcType="VARCHAR" property="lgsftc" />
    <result column="QYSFZTTC" jdbcType="VARCHAR" property="qysfzttc" />
    <result column="YWCTQTY" jdbcType="DECIMAL" property="ywctqty" />
    <result column="YWCYFJCHT" jdbcType="DECIMAL" property="ywcyfjcht" />
    <result column="YWCNBAZ" jdbcType="DECIMAL" property="ywcnbaz" />
    <result column="YWCQTJH" jdbcType="DECIMAL" property="ywcqtjh" />
    <result column="ZCCZQK" jdbcType="VARCHAR" property="zcczqk" />
    <result column="YSL" jdbcType="DECIMAL" property="ysl" />
    <result column="PSL" jdbcType="DECIMAL" property="psl" />
    <result column="YDL" jdbcType="DECIMAL" property="ydl" />
    <result column="SJGX" jdbcType="DECIMAL" property="sjgx" />
    <result column="QTGX" jdbcType="DECIMAL" property="qtgx" />
    <result column="GLGX" jdbcType="DECIMAL" property="glgx" />
    <result column="ZLGX" jdbcType="DECIMAL" property="zlgx" />
    <result column="GTHBJRQKLXID" jdbcType="VARCHAR" property="gthbjrqklxid" />
    <result column="YHDQDK" jdbcType="DECIMAL" property="yhdqdk" />
    <result column="YHCQDK" jdbcType="DECIMAL" property="yhcqdk" />
    <result column="FYHJRJGRZE" jdbcType="DECIMAL" property="fyhjrjgrze" />
    <result column="QYLRLC" jdbcType="DECIMAL" property="qylrlc" />
    <result column="QYGB" jdbcType="DECIMAL" property="qygb" />
    <result column="QYZJRZE" jdbcType="DECIMAL" property="qyzjrze" />
    <result column="QTRZ" jdbcType="DECIMAL" property="qtrz" />
    <result column="YCCSBXHJSL" jdbcType="VARCHAR" property="yccsbxhjsl" />
    <result column="YCCSBSFCDBC" jdbcType="VARCHAR" property="yccsbsfcdbc" />
    <result column="YCCSBSFYS" jdbcType="VARCHAR" property="yccsbsfys" />
    <result column="WCCSBXHJSL" jdbcType="VARCHAR" property="wccsbxhjsl" />
    <result column="WCCSBSFGS" jdbcType="VARCHAR" property="wccsbsfgs" />
    <result column="WCCSBSFYS" jdbcType="VARCHAR" property="wccsbsfys" />
    <result column="ZFWZSFGS" jdbcType="VARCHAR" property="zfwzsfgs" />
    <result column="SCZDZYWT" jdbcType="VARCHAR" property="sczdzywt" />
    <result column="SHZT" jdbcType="VARCHAR" property="shzt" />
    <result column="SHSM" jdbcType="VARCHAR" property="shsm" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    GTHBID, CIVILREGIONALISMID, REPORTTIME, LTYWCTCZB, LTYWCYJCN, LTSJTCSJ, LTSFTC, LGYWCTCZB,
    LGYWCYJCN, LGSJTCSJ, LGSFTC, QYSFZTTC, YWCTQTY, YWCYFJCHT, YWCNBAZ, YWCQTJH, ZCCZQK, 
    YSL, PSL, YDL, SJGX, QTGX, GLGX, ZLGX, GTHBJRQKLXID, YHDQDK, YHCQDK, FYHJRJGRZE, 
    QYLRLC, QYGB, QYZJRZE, QTRZ, YCCSBXHJSL, YCCSBSFCDBC, YCCSBSFYS, WCCSBXHJSL, WCCSBSFGS, 
    WCCSBSFYS, ZFWZSFGS, SCZDZYWT, SHZT, SHSM, CREATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CNZB2018.GTHB
    where GTHBID = #{gthbid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CNZB2018.GTHB
    where GTHBID = #{gthbid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fineway.springbootdemo.dao.cnzb2018.pojo.Gthb">
    insert into CNZB2018.GTHB (GTHBID, CIVILREGIONALISMID, REPORTTIME,
      LTYWCTCZB, LTYWCYJCN, LTSJTCSJ, 
      LTSFTC, LGYWCTCZB, LGYWCYJCN, 
      LGSJTCSJ, LGSFTC, QYSFZTTC, 
      YWCTQTY, YWCYFJCHT, YWCNBAZ, 
      YWCQTJH, ZCCZQK, YSL, 
      PSL, YDL, SJGX, QTGX, 
      GLGX, ZLGX, GTHBJRQKLXID, 
      YHDQDK, YHCQDK, FYHJRJGRZE, 
      QYLRLC, QYGB, QYZJRZE, 
      QTRZ, YCCSBXHJSL, YCCSBSFCDBC, 
      YCCSBSFYS, WCCSBXHJSL, WCCSBSFGS, 
      WCCSBSFYS, ZFWZSFGS, SCZDZYWT, 
      SHZT, SHSM, CREATETIME
      )
    values (#{gthbid,jdbcType=VARCHAR}, #{civilregionalismid,jdbcType=VARCHAR}, #{reporttime,jdbcType=VARCHAR}, 
      #{ltywctczb,jdbcType=VARCHAR}, #{ltywcyjcn,jdbcType=DECIMAL}, #{ltsjtcsj,jdbcType=VARCHAR}, 
      #{ltsftc,jdbcType=VARCHAR}, #{lgywctczb,jdbcType=VARCHAR}, #{lgywcyjcn,jdbcType=DECIMAL}, 
      #{lgsjtcsj,jdbcType=VARCHAR}, #{lgsftc,jdbcType=VARCHAR}, #{qysfzttc,jdbcType=VARCHAR}, 
      #{ywctqty,jdbcType=DECIMAL}, #{ywcyfjcht,jdbcType=DECIMAL}, #{ywcnbaz,jdbcType=DECIMAL}, 
      #{ywcqtjh,jdbcType=DECIMAL}, #{zcczqk,jdbcType=VARCHAR}, #{ysl,jdbcType=DECIMAL}, 
      #{psl,jdbcType=DECIMAL}, #{ydl,jdbcType=DECIMAL}, #{sjgx,jdbcType=DECIMAL}, #{qtgx,jdbcType=DECIMAL}, 
      #{glgx,jdbcType=DECIMAL}, #{zlgx,jdbcType=DECIMAL}, #{gthbjrqklxid,jdbcType=VARCHAR}, 
      #{yhdqdk,jdbcType=DECIMAL}, #{yhcqdk,jdbcType=DECIMAL}, #{fyhjrjgrze,jdbcType=DECIMAL}, 
      #{qylrlc,jdbcType=DECIMAL}, #{qygb,jdbcType=DECIMAL}, #{qyzjrze,jdbcType=DECIMAL}, 
      #{qtrz,jdbcType=DECIMAL}, #{yccsbxhjsl,jdbcType=VARCHAR}, #{yccsbsfcdbc,jdbcType=VARCHAR}, 
      #{yccsbsfys,jdbcType=VARCHAR}, #{wccsbxhjsl,jdbcType=VARCHAR}, #{wccsbsfgs,jdbcType=VARCHAR}, 
      #{wccsbsfys,jdbcType=VARCHAR}, #{zfwzsfgs,jdbcType=VARCHAR}, #{sczdzywt,jdbcType=VARCHAR}, 
      #{shzt,jdbcType=VARCHAR}, #{shsm,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fineway.springbootdemo.dao.cnzb2018.pojo.Gthb">
    insert into CNZB2018.GTHB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gthbid != null">
        GTHBID,
      </if>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID,
      </if>
      <if test="reporttime != null">
        REPORTTIME,
      </if>
      <if test="ltywctczb != null">
        LTYWCTCZB,
      </if>
      <if test="ltywcyjcn != null">
        LTYWCYJCN,
      </if>
      <if test="ltsjtcsj != null">
        LTSJTCSJ,
      </if>
      <if test="ltsftc != null">
        LTSFTC,
      </if>
      <if test="lgywctczb != null">
        LGYWCTCZB,
      </if>
      <if test="lgywcyjcn != null">
        LGYWCYJCN,
      </if>
      <if test="lgsjtcsj != null">
        LGSJTCSJ,
      </if>
      <if test="lgsftc != null">
        LGSFTC,
      </if>
      <if test="qysfzttc != null">
        QYSFZTTC,
      </if>
      <if test="ywctqty != null">
        YWCTQTY,
      </if>
      <if test="ywcyfjcht != null">
        YWCYFJCHT,
      </if>
      <if test="ywcnbaz != null">
        YWCNBAZ,
      </if>
      <if test="ywcqtjh != null">
        YWCQTJH,
      </if>
      <if test="zcczqk != null">
        ZCCZQK,
      </if>
      <if test="ysl != null">
        YSL,
      </if>
      <if test="psl != null">
        PSL,
      </if>
      <if test="ydl != null">
        YDL,
      </if>
      <if test="sjgx != null">
        SJGX,
      </if>
      <if test="qtgx != null">
        QTGX,
      </if>
      <if test="glgx != null">
        GLGX,
      </if>
      <if test="zlgx != null">
        ZLGX,
      </if>
      <if test="gthbjrqklxid != null">
        GTHBJRQKLXID,
      </if>
      <if test="yhdqdk != null">
        YHDQDK,
      </if>
      <if test="yhcqdk != null">
        YHCQDK,
      </if>
      <if test="fyhjrjgrze != null">
        FYHJRJGRZE,
      </if>
      <if test="qylrlc != null">
        QYLRLC,
      </if>
      <if test="qygb != null">
        QYGB,
      </if>
      <if test="qyzjrze != null">
        QYZJRZE,
      </if>
      <if test="qtrz != null">
        QTRZ,
      </if>
      <if test="yccsbxhjsl != null">
        YCCSBXHJSL,
      </if>
      <if test="yccsbsfcdbc != null">
        YCCSBSFCDBC,
      </if>
      <if test="yccsbsfys != null">
        YCCSBSFYS,
      </if>
      <if test="wccsbxhjsl != null">
        WCCSBXHJSL,
      </if>
      <if test="wccsbsfgs != null">
        WCCSBSFGS,
      </if>
      <if test="wccsbsfys != null">
        WCCSBSFYS,
      </if>
      <if test="zfwzsfgs != null">
        ZFWZSFGS,
      </if>
      <if test="sczdzywt != null">
        SCZDZYWT,
      </if>
      <if test="shzt != null">
        SHZT,
      </if>
      <if test="shsm != null">
        SHSM,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gthbid != null">
        #{gthbid,jdbcType=VARCHAR},
      </if>
      <if test="civilregionalismid != null">
        #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        #{reporttime,jdbcType=VARCHAR},
      </if>
      <if test="ltywctczb != null">
        #{ltywctczb,jdbcType=VARCHAR},
      </if>
      <if test="ltywcyjcn != null">
        #{ltywcyjcn,jdbcType=DECIMAL},
      </if>
      <if test="ltsjtcsj != null">
        #{ltsjtcsj,jdbcType=VARCHAR},
      </if>
      <if test="ltsftc != null">
        #{ltsftc,jdbcType=VARCHAR},
      </if>
      <if test="lgywctczb != null">
        #{lgywctczb,jdbcType=VARCHAR},
      </if>
      <if test="lgywcyjcn != null">
        #{lgywcyjcn,jdbcType=DECIMAL},
      </if>
      <if test="lgsjtcsj != null">
        #{lgsjtcsj,jdbcType=VARCHAR},
      </if>
      <if test="lgsftc != null">
        #{lgsftc,jdbcType=VARCHAR},
      </if>
      <if test="qysfzttc != null">
        #{qysfzttc,jdbcType=VARCHAR},
      </if>
      <if test="ywctqty != null">
        #{ywctqty,jdbcType=DECIMAL},
      </if>
      <if test="ywcyfjcht != null">
        #{ywcyfjcht,jdbcType=DECIMAL},
      </if>
      <if test="ywcnbaz != null">
        #{ywcnbaz,jdbcType=DECIMAL},
      </if>
      <if test="ywcqtjh != null">
        #{ywcqtjh,jdbcType=DECIMAL},
      </if>
      <if test="zcczqk != null">
        #{zcczqk,jdbcType=VARCHAR},
      </if>
      <if test="ysl != null">
        #{ysl,jdbcType=DECIMAL},
      </if>
      <if test="psl != null">
        #{psl,jdbcType=DECIMAL},
      </if>
      <if test="ydl != null">
        #{ydl,jdbcType=DECIMAL},
      </if>
      <if test="sjgx != null">
        #{sjgx,jdbcType=DECIMAL},
      </if>
      <if test="qtgx != null">
        #{qtgx,jdbcType=DECIMAL},
      </if>
      <if test="glgx != null">
        #{glgx,jdbcType=DECIMAL},
      </if>
      <if test="zlgx != null">
        #{zlgx,jdbcType=DECIMAL},
      </if>
      <if test="gthbjrqklxid != null">
        #{gthbjrqklxid,jdbcType=VARCHAR},
      </if>
      <if test="yhdqdk != null">
        #{yhdqdk,jdbcType=DECIMAL},
      </if>
      <if test="yhcqdk != null">
        #{yhcqdk,jdbcType=DECIMAL},
      </if>
      <if test="fyhjrjgrze != null">
        #{fyhjrjgrze,jdbcType=DECIMAL},
      </if>
      <if test="qylrlc != null">
        #{qylrlc,jdbcType=DECIMAL},
      </if>
      <if test="qygb != null">
        #{qygb,jdbcType=DECIMAL},
      </if>
      <if test="qyzjrze != null">
        #{qyzjrze,jdbcType=DECIMAL},
      </if>
      <if test="qtrz != null">
        #{qtrz,jdbcType=DECIMAL},
      </if>
      <if test="yccsbxhjsl != null">
        #{yccsbxhjsl,jdbcType=VARCHAR},
      </if>
      <if test="yccsbsfcdbc != null">
        #{yccsbsfcdbc,jdbcType=VARCHAR},
      </if>
      <if test="yccsbsfys != null">
        #{yccsbsfys,jdbcType=VARCHAR},
      </if>
      <if test="wccsbxhjsl != null">
        #{wccsbxhjsl,jdbcType=VARCHAR},
      </if>
      <if test="wccsbsfgs != null">
        #{wccsbsfgs,jdbcType=VARCHAR},
      </if>
      <if test="wccsbsfys != null">
        #{wccsbsfys,jdbcType=VARCHAR},
      </if>
      <if test="zfwzsfgs != null">
        #{zfwzsfgs,jdbcType=VARCHAR},
      </if>
      <if test="sczdzywt != null">
        #{sczdzywt,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null">
        #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fineway.springbootdemo.dao.cnzb2018.pojo.Gthb">
    update CNZB2018.GTHB
    <set>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        REPORTTIME = #{reporttime,jdbcType=VARCHAR},
      </if>
      <if test="ltywctczb != null">
        LTYWCTCZB = #{ltywctczb,jdbcType=VARCHAR},
      </if>
      <if test="ltywcyjcn != null">
        LTYWCYJCN = #{ltywcyjcn,jdbcType=DECIMAL},
      </if>
      <if test="ltsjtcsj != null">
        LTSJTCSJ = #{ltsjtcsj,jdbcType=VARCHAR},
      </if>
      <if test="ltsftc != null">
        LTSFTC = #{ltsftc,jdbcType=VARCHAR},
      </if>
      <if test="lgywctczb != null">
        LGYWCTCZB = #{lgywctczb,jdbcType=VARCHAR},
      </if>
      <if test="lgywcyjcn != null">
        LGYWCYJCN = #{lgywcyjcn,jdbcType=DECIMAL},
      </if>
      <if test="lgsjtcsj != null">
        LGSJTCSJ = #{lgsjtcsj,jdbcType=VARCHAR},
      </if>
      <if test="lgsftc != null">
        LGSFTC = #{lgsftc,jdbcType=VARCHAR},
      </if>
      <if test="qysfzttc != null">
        QYSFZTTC = #{qysfzttc,jdbcType=VARCHAR},
      </if>
      <if test="ywctqty != null">
        YWCTQTY = #{ywctqty,jdbcType=DECIMAL},
      </if>
      <if test="ywcyfjcht != null">
        YWCYFJCHT = #{ywcyfjcht,jdbcType=DECIMAL},
      </if>
      <if test="ywcnbaz != null">
        YWCNBAZ = #{ywcnbaz,jdbcType=DECIMAL},
      </if>
      <if test="ywcqtjh != null">
        YWCQTJH = #{ywcqtjh,jdbcType=DECIMAL},
      </if>
      <if test="zcczqk != null">
        ZCCZQK = #{zcczqk,jdbcType=VARCHAR},
      </if>
      <if test="ysl != null">
        YSL = #{ysl,jdbcType=DECIMAL},
      </if>
      <if test="psl != null">
        PSL = #{psl,jdbcType=DECIMAL},
      </if>
      <if test="ydl != null">
        YDL = #{ydl,jdbcType=DECIMAL},
      </if>
      <if test="sjgx != null">
        SJGX = #{sjgx,jdbcType=DECIMAL},
      </if>
      <if test="qtgx != null">
        QTGX = #{qtgx,jdbcType=DECIMAL},
      </if>
      <if test="glgx != null">
        GLGX = #{glgx,jdbcType=DECIMAL},
      </if>
      <if test="zlgx != null">
        ZLGX = #{zlgx,jdbcType=DECIMAL},
      </if>
      <if test="gthbjrqklxid != null">
        GTHBJRQKLXID = #{gthbjrqklxid,jdbcType=VARCHAR},
      </if>
      <if test="yhdqdk != null">
        YHDQDK = #{yhdqdk,jdbcType=DECIMAL},
      </if>
      <if test="yhcqdk != null">
        YHCQDK = #{yhcqdk,jdbcType=DECIMAL},
      </if>
      <if test="fyhjrjgrze != null">
        FYHJRJGRZE = #{fyhjrjgrze,jdbcType=DECIMAL},
      </if>
      <if test="qylrlc != null">
        QYLRLC = #{qylrlc,jdbcType=DECIMAL},
      </if>
      <if test="qygb != null">
        QYGB = #{qygb,jdbcType=DECIMAL},
      </if>
      <if test="qyzjrze != null">
        QYZJRZE = #{qyzjrze,jdbcType=DECIMAL},
      </if>
      <if test="qtrz != null">
        QTRZ = #{qtrz,jdbcType=DECIMAL},
      </if>
      <if test="yccsbxhjsl != null">
        YCCSBXHJSL = #{yccsbxhjsl,jdbcType=VARCHAR},
      </if>
      <if test="yccsbsfcdbc != null">
        YCCSBSFCDBC = #{yccsbsfcdbc,jdbcType=VARCHAR},
      </if>
      <if test="yccsbsfys != null">
        YCCSBSFYS = #{yccsbsfys,jdbcType=VARCHAR},
      </if>
      <if test="wccsbxhjsl != null">
        WCCSBXHJSL = #{wccsbxhjsl,jdbcType=VARCHAR},
      </if>
      <if test="wccsbsfgs != null">
        WCCSBSFGS = #{wccsbsfgs,jdbcType=VARCHAR},
      </if>
      <if test="wccsbsfys != null">
        WCCSBSFYS = #{wccsbsfys,jdbcType=VARCHAR},
      </if>
      <if test="zfwzsfgs != null">
        ZFWZSFGS = #{zfwzsfgs,jdbcType=VARCHAR},
      </if>
      <if test="sczdzywt != null">
        SCZDZYWT = #{sczdzywt,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null">
        SHZT = #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        SHSM = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GTHBID = #{gthbid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fineway.springbootdemo.dao.cnzb2018.pojo.Gthb">
    update CNZB2018.GTHB
    set CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      REPORTTIME = #{reporttime,jdbcType=VARCHAR},
      LTYWCTCZB = #{ltywctczb,jdbcType=VARCHAR},
      LTYWCYJCN = #{ltywcyjcn,jdbcType=DECIMAL},
      LTSJTCSJ = #{ltsjtcsj,jdbcType=VARCHAR},
      LTSFTC = #{ltsftc,jdbcType=VARCHAR},
      LGYWCTCZB = #{lgywctczb,jdbcType=VARCHAR},
      LGYWCYJCN = #{lgywcyjcn,jdbcType=DECIMAL},
      LGSJTCSJ = #{lgsjtcsj,jdbcType=VARCHAR},
      LGSFTC = #{lgsftc,jdbcType=VARCHAR},
      QYSFZTTC = #{qysfzttc,jdbcType=VARCHAR},
      YWCTQTY = #{ywctqty,jdbcType=DECIMAL},
      YWCYFJCHT = #{ywcyfjcht,jdbcType=DECIMAL},
      YWCNBAZ = #{ywcnbaz,jdbcType=DECIMAL},
      YWCQTJH = #{ywcqtjh,jdbcType=DECIMAL},
      ZCCZQK = #{zcczqk,jdbcType=VARCHAR},
      YSL = #{ysl,jdbcType=DECIMAL},
      PSL = #{psl,jdbcType=DECIMAL},
      YDL = #{ydl,jdbcType=DECIMAL},
      SJGX = #{sjgx,jdbcType=DECIMAL},
      QTGX = #{qtgx,jdbcType=DECIMAL},
      GLGX = #{glgx,jdbcType=DECIMAL},
      ZLGX = #{zlgx,jdbcType=DECIMAL},
      GTHBJRQKLXID = #{gthbjrqklxid,jdbcType=VARCHAR},
      YHDQDK = #{yhdqdk,jdbcType=DECIMAL},
      YHCQDK = #{yhcqdk,jdbcType=DECIMAL},
      FYHJRJGRZE = #{fyhjrjgrze,jdbcType=DECIMAL},
      QYLRLC = #{qylrlc,jdbcType=DECIMAL},
      QYGB = #{qygb,jdbcType=DECIMAL},
      QYZJRZE = #{qyzjrze,jdbcType=DECIMAL},
      QTRZ = #{qtrz,jdbcType=DECIMAL},
      YCCSBXHJSL = #{yccsbxhjsl,jdbcType=VARCHAR},
      YCCSBSFCDBC = #{yccsbsfcdbc,jdbcType=VARCHAR},
      YCCSBSFYS = #{yccsbsfys,jdbcType=VARCHAR},
      WCCSBXHJSL = #{wccsbxhjsl,jdbcType=VARCHAR},
      WCCSBSFGS = #{wccsbsfgs,jdbcType=VARCHAR},
      WCCSBSFYS = #{wccsbsfys,jdbcType=VARCHAR},
      ZFWZSFGS = #{zfwzsfgs,jdbcType=VARCHAR},
      SCZDZYWT = #{sczdzywt,jdbcType=VARCHAR},
      SHZT = #{shzt,jdbcType=VARCHAR},
      SHSM = #{shsm,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    where GTHBID = #{gthbid,jdbcType=VARCHAR}
  </update>
</mapper>