<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineway.springbootdemo.dao.cnzb_kingbase.mapper.MtybKBMapper">
  <resultMap id="BaseResultMap" type="com.fineway.springbootdemo.dao.cnzb_kingbase.pojo.MtybKB">
    <id column="MTYBID" jdbcType="VARCHAR" property="mtybid" />
    <result column="CIVILREGIONALISMID" jdbcType="VARCHAR" property="civilregionalismid" />
    <result column="REPORTTIME" jdbcType="VARCHAR" property="reporttime" />
    <result column="TCMKMC" jdbcType="VARCHAR" property="tcmkmc" />
    <result column="MKSZD" jdbcType="VARCHAR" property="mkszd" />
    <result column="MKLB" jdbcType="VARCHAR" property="mklb" />
    <result column="TCSJ" jdbcType="VARCHAR" property="tcsj" />
    <result column="SJNL" jdbcType="NUMERIC" property="sjnl" />
    <result column="HDNL" jdbcType="NUMERIC" property="hdnl" />
    <result column="TQTY" jdbcType="NUMERIC" property="tqty" />
    <result column="YFJCHT" jdbcType="NUMERIC" property="yfjcht" />
    <result column="NBAZ" jdbcType="NUMERIC" property="nbaz" />
    <result column="QTJH" jdbcType="NUMERIC" property="qtjh" />
    <result column="MTYBJRQKLXID" jdbcType="VARCHAR" property="mtybjrqklxid" />
    <result column="SFTC" jdbcType="VARCHAR" property="sftc" />
    <result column="JXSBSFHC" jdbcType="VARCHAR" property="jxsbsfhc" />
    <result column="JKSFFB" jdbcType="VARCHAR" property="jksffb" />
    <result column="ZJSFZX" jdbcType="VARCHAR" property="zjsfzx" />
    <result column="SFYS1" jdbcType="VARCHAR" property="sfys1" />
    <result column="YHDQDK" jdbcType="NUMERIC" property="yhdqdk" />
    <result column="YHCQDK" jdbcType="NUMERIC" property="yhcqdk" />
    <result column="FYHJRJGRZE" jdbcType="NUMERIC" property="fyhjrjgrze" />
    <result column="QYLYLC" jdbcType="NUMERIC" property="qylylc" />
    <result column="QYGB" jdbcType="NUMERIC" property="qygb" />
    <result column="QYZJRZE" jdbcType="NUMERIC" property="qyzjrze" />
    <result column="QTRZ" jdbcType="NUMERIC" property="qtrz" />
    <result column="SHZT" jdbcType="VARCHAR" property="shzt" />
    <result column="SHSM" jdbcType="VARCHAR" property="shsm" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ZZJGDM" jdbcType="VARCHAR" property="zzjgdm" />
    <result column="XYDM" jdbcType="VARCHAR" property="xydm" />
    <result column="ZCCZQK" jdbcType="VARCHAR" property="zcczqk" />
  </resultMap>
  <sql id="Base_Column_List">
    MTYBID, CIVILREGIONALISMID, REPORTTIME, TCMKMC, MKSZD, MKLB, TCSJ, SJNL, HDNL, TQTY, 
    YFJCHT, NBAZ, QTJH, MTYBJRQKLXID, SFTC, JXSBSFHC, JKSFFB, ZJSFZX, SFYS1, YHDQDK, 
    YHCQDK, FYHJRJGRZE, QYLYLC, QYGB, QYZJRZE, QTRZ, SHZT, SHSM, CREATETIME, ZZJGDM, 
    XYDM, ZCCZQK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PUBLIC.MTYB
    where MTYBID = #{mtybid,jdbcType=VARCHAR}
  </select>
  <select id="searchDataNoTCMKMC" resultMap="BaseResultMap">
    select * from mtyb where tcmkmc is null
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PUBLIC.MTYB
    where MTYBID = #{mtybid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fineway.springbootdemo.dao.cnzb_kingbase.pojo.MtybKB">
    insert into PUBLIC.MTYB (MTYBID, CIVILREGIONALISMID, REPORTTIME, 
      TCMKMC, MKSZD, MKLB, 
      TCSJ, SJNL, HDNL, TQTY, 
      YFJCHT, NBAZ, QTJH, 
      MTYBJRQKLXID, SFTC, JXSBSFHC, 
      JKSFFB, ZJSFZX, SFYS1, 
      YHDQDK, YHCQDK, FYHJRJGRZE, 
      QYLYLC, QYGB, QYZJRZE, 
      QTRZ, SHZT, SHSM, CREATETIME, 
      ZZJGDM, XYDM, ZCCZQK
      )
    values (#{mtybid,jdbcType=VARCHAR}, #{civilregionalismid,jdbcType=VARCHAR}, #{reporttime,jdbcType=VARCHAR}, 
      #{tcmkmc,jdbcType=VARCHAR}, #{mkszd,jdbcType=VARCHAR}, #{mklb,jdbcType=VARCHAR}, 
      #{tcsj,jdbcType=VARCHAR}, #{sjnl,jdbcType=NUMERIC}, #{hdnl,jdbcType=NUMERIC}, #{tqty,jdbcType=NUMERIC}, 
      #{yfjcht,jdbcType=NUMERIC}, #{nbaz,jdbcType=NUMERIC}, #{qtjh,jdbcType=NUMERIC}, 
      #{mtybjrqklxid,jdbcType=VARCHAR}, #{sftc,jdbcType=VARCHAR}, #{jxsbsfhc,jdbcType=VARCHAR}, 
      #{jksffb,jdbcType=VARCHAR}, #{zjsfzx,jdbcType=VARCHAR}, #{sfys1,jdbcType=VARCHAR}, 
      #{yhdqdk,jdbcType=NUMERIC}, #{yhcqdk,jdbcType=NUMERIC}, #{fyhjrjgrze,jdbcType=NUMERIC}, 
      #{qylylc,jdbcType=NUMERIC}, #{qygb,jdbcType=NUMERIC}, #{qyzjrze,jdbcType=NUMERIC}, 
      #{qtrz,jdbcType=NUMERIC}, #{shzt,jdbcType=VARCHAR}, #{shsm,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{zzjgdm,jdbcType=VARCHAR}, #{xydm,jdbcType=VARCHAR}, #{zcczqk,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fineway.springbootdemo.dao.cnzb_kingbase.pojo.MtybKB">
    insert into PUBLIC.MTYB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtybid != null">
        MTYBID,
      </if>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID,
      </if>
      <if test="reporttime != null">
        REPORTTIME,
      </if>
      <if test="tcmkmc != null">
        TCMKMC,
      </if>
      <if test="mkszd != null">
        MKSZD,
      </if>
      <if test="mklb != null">
        MKLB,
      </if>
      <if test="tcsj != null">
        TCSJ,
      </if>
      <if test="sjnl != null">
        SJNL,
      </if>
      <if test="hdnl != null">
        HDNL,
      </if>
      <if test="tqty != null">
        TQTY,
      </if>
      <if test="yfjcht != null">
        YFJCHT,
      </if>
      <if test="nbaz != null">
        NBAZ,
      </if>
      <if test="qtjh != null">
        QTJH,
      </if>
      <if test="mtybjrqklxid != null">
        MTYBJRQKLXID,
      </if>
      <if test="sftc != null">
        SFTC,
      </if>
      <if test="jxsbsfhc != null">
        JXSBSFHC,
      </if>
      <if test="jksffb != null">
        JKSFFB,
      </if>
      <if test="zjsfzx != null">
        ZJSFZX,
      </if>
      <if test="sfys1 != null">
        SFYS1,
      </if>
      <if test="yhdqdk != null">
        YHDQDK,
      </if>
      <if test="yhcqdk != null">
        YHCQDK,
      </if>
      <if test="fyhjrjgrze != null">
        FYHJRJGRZE,
      </if>
      <if test="qylylc != null">
        QYLYLC,
      </if>
      <if test="qygb != null">
        QYGB,
      </if>
      <if test="qyzjrze != null">
        QYZJRZE,
      </if>
      <if test="qtrz != null">
        QTRZ,
      </if>
      <if test="shzt != null">
        SHZT,
      </if>
      <if test="shsm != null">
        SHSM,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="zzjgdm != null">
        ZZJGDM,
      </if>
      <if test="xydm != null">
        XYDM,
      </if>
      <if test="zcczqk != null">
        ZCCZQK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtybid != null">
        #{mtybid,jdbcType=VARCHAR},
      </if>
      <if test="civilregionalismid != null">
        #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        #{reporttime,jdbcType=VARCHAR},
      </if>
      <if test="tcmkmc != null">
        #{tcmkmc,jdbcType=VARCHAR},
      </if>
      <if test="mkszd != null">
        #{mkszd,jdbcType=VARCHAR},
      </if>
      <if test="mklb != null">
        #{mklb,jdbcType=VARCHAR},
      </if>
      <if test="tcsj != null">
        #{tcsj,jdbcType=VARCHAR},
      </if>
      <if test="sjnl != null">
        #{sjnl,jdbcType=NUMERIC},
      </if>
      <if test="hdnl != null">
        #{hdnl,jdbcType=NUMERIC},
      </if>
      <if test="tqty != null">
        #{tqty,jdbcType=NUMERIC},
      </if>
      <if test="yfjcht != null">
        #{yfjcht,jdbcType=NUMERIC},
      </if>
      <if test="nbaz != null">
        #{nbaz,jdbcType=NUMERIC},
      </if>
      <if test="qtjh != null">
        #{qtjh,jdbcType=NUMERIC},
      </if>
      <if test="mtybjrqklxid != null">
        #{mtybjrqklxid,jdbcType=VARCHAR},
      </if>
      <if test="sftc != null">
        #{sftc,jdbcType=VARCHAR},
      </if>
      <if test="jxsbsfhc != null">
        #{jxsbsfhc,jdbcType=VARCHAR},
      </if>
      <if test="jksffb != null">
        #{jksffb,jdbcType=VARCHAR},
      </if>
      <if test="zjsfzx != null">
        #{zjsfzx,jdbcType=VARCHAR},
      </if>
      <if test="sfys1 != null">
        #{sfys1,jdbcType=VARCHAR},
      </if>
      <if test="yhdqdk != null">
        #{yhdqdk,jdbcType=NUMERIC},
      </if>
      <if test="yhcqdk != null">
        #{yhcqdk,jdbcType=NUMERIC},
      </if>
      <if test="fyhjrjgrze != null">
        #{fyhjrjgrze,jdbcType=NUMERIC},
      </if>
      <if test="qylylc != null">
        #{qylylc,jdbcType=NUMERIC},
      </if>
      <if test="qygb != null">
        #{qygb,jdbcType=NUMERIC},
      </if>
      <if test="qyzjrze != null">
        #{qyzjrze,jdbcType=NUMERIC},
      </if>
      <if test="qtrz != null">
        #{qtrz,jdbcType=NUMERIC},
      </if>
      <if test="shzt != null">
        #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zzjgdm != null">
        #{zzjgdm,jdbcType=VARCHAR},
      </if>
      <if test="xydm != null">
        #{xydm,jdbcType=VARCHAR},
      </if>
      <if test="zcczqk != null">
        #{zcczqk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fineway.springbootdemo.dao.cnzb_kingbase.pojo.MtybKB">
    update PUBLIC.MTYB
    <set>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        REPORTTIME = #{reporttime,jdbcType=VARCHAR},
      </if>
      <if test="tcmkmc != null">
        TCMKMC = #{tcmkmc,jdbcType=VARCHAR},
      </if>
      <if test="mkszd != null">
        MKSZD = #{mkszd,jdbcType=VARCHAR},
      </if>
      <if test="mklb != null">
        MKLB = #{mklb,jdbcType=VARCHAR},
      </if>
      <if test="tcsj != null">
        TCSJ = #{tcsj,jdbcType=VARCHAR},
      </if>
      <if test="sjnl != null">
        SJNL = #{sjnl,jdbcType=NUMERIC},
      </if>
      <if test="hdnl != null">
        HDNL = #{hdnl,jdbcType=NUMERIC},
      </if>
      <if test="tqty != null">
        TQTY = #{tqty,jdbcType=NUMERIC},
      </if>
      <if test="yfjcht != null">
        YFJCHT = #{yfjcht,jdbcType=NUMERIC},
      </if>
      <if test="nbaz != null">
        NBAZ = #{nbaz,jdbcType=NUMERIC},
      </if>
      <if test="qtjh != null">
        QTJH = #{qtjh,jdbcType=NUMERIC},
      </if>
      <if test="mtybjrqklxid != null">
        MTYBJRQKLXID = #{mtybjrqklxid,jdbcType=VARCHAR},
      </if>
      <if test="sftc != null">
        SFTC = #{sftc,jdbcType=VARCHAR},
      </if>
      <if test="jxsbsfhc != null">
        JXSBSFHC = #{jxsbsfhc,jdbcType=VARCHAR},
      </if>
      <if test="jksffb != null">
        JKSFFB = #{jksffb,jdbcType=VARCHAR},
      </if>
      <if test="zjsfzx != null">
        ZJSFZX = #{zjsfzx,jdbcType=VARCHAR},
      </if>
      <if test="sfys1 != null">
        SFYS1 = #{sfys1,jdbcType=VARCHAR},
      </if>
      <if test="yhdqdk != null">
        YHDQDK = #{yhdqdk,jdbcType=NUMERIC},
      </if>
      <if test="yhcqdk != null">
        YHCQDK = #{yhcqdk,jdbcType=NUMERIC},
      </if>
      <if test="fyhjrjgrze != null">
        FYHJRJGRZE = #{fyhjrjgrze,jdbcType=NUMERIC},
      </if>
      <if test="qylylc != null">
        QYLYLC = #{qylylc,jdbcType=NUMERIC},
      </if>
      <if test="qygb != null">
        QYGB = #{qygb,jdbcType=NUMERIC},
      </if>
      <if test="qyzjrze != null">
        QYZJRZE = #{qyzjrze,jdbcType=NUMERIC},
      </if>
      <if test="qtrz != null">
        QTRZ = #{qtrz,jdbcType=NUMERIC},
      </if>
      <if test="shzt != null">
        SHZT = #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="shsm != null">
        SHSM = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zzjgdm != null">
        ZZJGDM = #{zzjgdm,jdbcType=VARCHAR},
      </if>
      <if test="xydm != null">
        XYDM = #{xydm,jdbcType=VARCHAR},
      </if>
      <if test="zcczqk != null">
        ZCCZQK = #{zcczqk,jdbcType=VARCHAR},
      </if>
    </set>
    where MTYBID = #{mtybid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fineway.springbootdemo.dao.cnzb_kingbase.pojo.MtybKB">
    update PUBLIC.MTYB
    set CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      REPORTTIME = #{reporttime,jdbcType=VARCHAR},
      TCMKMC = #{tcmkmc,jdbcType=VARCHAR},
      MKSZD = #{mkszd,jdbcType=VARCHAR},
      MKLB = #{mklb,jdbcType=VARCHAR},
      TCSJ = #{tcsj,jdbcType=VARCHAR},
      SJNL = #{sjnl,jdbcType=NUMERIC},
      HDNL = #{hdnl,jdbcType=NUMERIC},
      TQTY = #{tqty,jdbcType=NUMERIC},
      YFJCHT = #{yfjcht,jdbcType=NUMERIC},
      NBAZ = #{nbaz,jdbcType=NUMERIC},
      QTJH = #{qtjh,jdbcType=NUMERIC},
      MTYBJRQKLXID = #{mtybjrqklxid,jdbcType=VARCHAR},
      SFTC = #{sftc,jdbcType=VARCHAR},
      JXSBSFHC = #{jxsbsfhc,jdbcType=VARCHAR},
      JKSFFB = #{jksffb,jdbcType=VARCHAR},
      ZJSFZX = #{zjsfzx,jdbcType=VARCHAR},
      SFYS1 = #{sfys1,jdbcType=VARCHAR},
      YHDQDK = #{yhdqdk,jdbcType=NUMERIC},
      YHCQDK = #{yhcqdk,jdbcType=NUMERIC},
      FYHJRJGRZE = #{fyhjrjgrze,jdbcType=NUMERIC},
      QYLYLC = #{qylylc,jdbcType=NUMERIC},
      QYGB = #{qygb,jdbcType=NUMERIC},
      QYZJRZE = #{qyzjrze,jdbcType=NUMERIC},
      QTRZ = #{qtrz,jdbcType=NUMERIC},
      SHZT = #{shzt,jdbcType=VARCHAR},
      SHSM = #{shsm,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      ZZJGDM = #{zzjgdm,jdbcType=VARCHAR},
      XYDM = #{xydm,jdbcType=VARCHAR},
      ZCCZQK = #{zcczqk,jdbcType=VARCHAR}
    where MTYBID = #{mtybid,jdbcType=VARCHAR}
  </update>
  <update id="updateTCMKMCByID" parameterType="java.lang.String">
    update mtyb set tcmkmc=#{tcmkmc,jdbcType=VARCHAR} where MTYBID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>