<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineway.springbootdemo.dao.cnzb_now.mapper.HjcnHistoryNowMapper">
  <resultMap id="BaseResultMap" type="com.fineway.springbootdemo.dao.cnzb_now.pojo.HjcnHistoryNow">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BBLX" jdbcType="DECIMAL" property="bblx" />
    <result column="CIVILREGIONALISMID" jdbcType="VARCHAR" property="civilregionalismid" />
    <result column="HISTORYREPORTID" jdbcType="VARCHAR" property="historyreportid" />
    <result column="ISVALIDE" jdbcType="VARCHAR" property="isvalide" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="QYLX" jdbcType="DECIMAL" property="qylx" />
    <result column="QYMC" jdbcType="VARCHAR" property="qymc" />
    <result column="REGISTERDATE" jdbcType="VARCHAR" property="registerdate" />
    <result column="REJETMESSAGE" jdbcType="VARCHAR" property="rejetmessage" />
    <result column="REPORTDATE" jdbcType="VARCHAR" property="reportdate" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BBLX, CIVILREGIONALISMID, HISTORYREPORTID, ISVALIDE, PATH, QYLX, QYMC, REGISTERDATE, 
    REJETMESSAGE, REPORTDATE, STATE, UPDATEDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CNZB2018.HJCNHISTORY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selfDefinedSQL" resultMap="BaseResultMap">
    ${sql}
  </select>
  <select id="selfDefinedSQL2" resultType="java.util.Map">
    ${sql}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CNZB2018.HJCNHISTORY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fineway.springbootdemo.dao.cnzb_now.pojo.HjcnHistoryNow">
    insert into CNZB2018.HJCNHISTORY (ID, BBLX, CIVILREGIONALISMID, 
      HISTORYREPORTID, ISVALIDE, PATH, 
      QYLX, QYMC, REGISTERDATE, 
      REJETMESSAGE, REPORTDATE, STATE, 
      UPDATEDATE)
    values (#{id,jdbcType=VARCHAR}, #{bblx,jdbcType=DECIMAL}, #{civilregionalismid,jdbcType=VARCHAR}, 
      #{historyreportid,jdbcType=VARCHAR}, #{isvalide,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{qylx,jdbcType=DECIMAL}, #{qymc,jdbcType=VARCHAR}, #{registerdate,jdbcType=VARCHAR}, 
      #{rejetmessage,jdbcType=VARCHAR}, #{reportdate,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL}, 
      #{updatedate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fineway.springbootdemo.dao.cnzb_now.pojo.HjcnHistoryNow">
    insert into CNZB2018.HJCNHISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bblx != null">
        BBLX,
      </if>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID,
      </if>
      <if test="historyreportid != null">
        HISTORYREPORTID,
      </if>
      <if test="isvalide != null">
        ISVALIDE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="qylx != null">
        QYLX,
      </if>
      <if test="qymc != null">
        QYMC,
      </if>
      <if test="registerdate != null">
        REGISTERDATE,
      </if>
      <if test="rejetmessage != null">
        REJETMESSAGE,
      </if>
      <if test="reportdate != null">
        REPORTDATE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bblx != null">
        #{bblx,jdbcType=DECIMAL},
      </if>
      <if test="civilregionalismid != null">
        #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="historyreportid != null">
        #{historyreportid,jdbcType=VARCHAR},
      </if>
      <if test="isvalide != null">
        #{isvalide,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="qylx != null">
        #{qylx,jdbcType=DECIMAL},
      </if>
      <if test="qymc != null">
        #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null">
        #{registerdate,jdbcType=VARCHAR},
      </if>
      <if test="rejetmessage != null">
        #{rejetmessage,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fineway.springbootdemo.dao.cnzb_now.pojo.HjcnHistoryNow">
    update CNZB2018.HJCNHISTORY
    <set>
      <if test="bblx != null">
        BBLX = #{bblx,jdbcType=DECIMAL},
      </if>
      <if test="civilregionalismid != null">
        CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      </if>
      <if test="historyreportid != null">
        HISTORYREPORTID = #{historyreportid,jdbcType=VARCHAR},
      </if>
      <if test="isvalide != null">
        ISVALIDE = #{isvalide,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="qylx != null">
        QYLX = #{qylx,jdbcType=DECIMAL},
      </if>
      <if test="qymc != null">
        QYMC = #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null">
        REGISTERDATE = #{registerdate,jdbcType=VARCHAR},
      </if>
      <if test="rejetmessage != null">
        REJETMESSAGE = #{rejetmessage,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        REPORTDATE = #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fineway.springbootdemo.dao.cnzb_now.pojo.HjcnHistoryNow">
    update CNZB2018.HJCNHISTORY
    set BBLX = #{bblx,jdbcType=DECIMAL},
      CIVILREGIONALISMID = #{civilregionalismid,jdbcType=VARCHAR},
      HISTORYREPORTID = #{historyreportid,jdbcType=VARCHAR},
      ISVALIDE = #{isvalide,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      QYLX = #{qylx,jdbcType=DECIMAL},
      QYMC = #{qymc,jdbcType=VARCHAR},
      REGISTERDATE = #{registerdate,jdbcType=VARCHAR},
      REJETMESSAGE = #{rejetmessage,jdbcType=VARCHAR},
      REPORTDATE = #{reportdate,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL},
      UPDATEDATE = #{updatedate,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>