<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fineway.springbootdemo.dao.cnzb2016.mapper.FlowActionStatusMapper">
  <resultMap id="BaseResultMap" type="com.fineway.springbootdemo.dao.cnzb2016.pojo.FlowActionStatus">
    <result column="FLOWACTIONSTATUSID" jdbcType="VARCHAR" property="flowactionstatusid" />
    <result column="FLOWACTIONSTATUSDESCRIPTION" jdbcType="VARCHAR" property="flowactionstatusdescription" />
    <result column="FLOWACTIONSTATUSNAME" jdbcType="VARCHAR" property="flowactionstatusname" />
    <result column="FLOWACTIONSTATUSNUMBER" jdbcType="DECIMAL" property="flowactionstatusnumber" />
    <result column="FLOWACTIONSTATUSCODE" jdbcType="VARCHAR" property="flowactionstatuscode" />
  </resultMap>
  <insert id="insert" parameterType="com.fineway.springbootdemo.dao.cnzb2016.pojo.FlowActionStatus">
    insert into HJCN1.FLOWACTIONSTATUS (FLOWACTIONSTATUSID, FLOWACTIONSTATUSDESCRIPTION, 
      FLOWACTIONSTATUSNAME, FLOWACTIONSTATUSNUMBER, 
      FLOWACTIONSTATUSCODE)
    values (#{flowactionstatusid,jdbcType=VARCHAR}, #{flowactionstatusdescription,jdbcType=VARCHAR}, 
      #{flowactionstatusname,jdbcType=VARCHAR}, #{flowactionstatusnumber,jdbcType=DECIMAL}, 
      #{flowactionstatuscode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fineway.springbootdemo.dao.cnzb2016.pojo.FlowActionStatus">
    insert into HJCN1.FLOWACTIONSTATUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowactionstatusid != null">
        FLOWACTIONSTATUSID,
      </if>
      <if test="flowactionstatusdescription != null">
        FLOWACTIONSTATUSDESCRIPTION,
      </if>
      <if test="flowactionstatusname != null">
        FLOWACTIONSTATUSNAME,
      </if>
      <if test="flowactionstatusnumber != null">
        FLOWACTIONSTATUSNUMBER,
      </if>
      <if test="flowactionstatuscode != null">
        FLOWACTIONSTATUSCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowactionstatusid != null">
        #{flowactionstatusid,jdbcType=VARCHAR},
      </if>
      <if test="flowactionstatusdescription != null">
        #{flowactionstatusdescription,jdbcType=VARCHAR},
      </if>
      <if test="flowactionstatusname != null">
        #{flowactionstatusname,jdbcType=VARCHAR},
      </if>
      <if test="flowactionstatusnumber != null">
        #{flowactionstatusnumber,jdbcType=DECIMAL},
      </if>
      <if test="flowactionstatuscode != null">
        #{flowactionstatuscode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>